.prueba {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imag{
	width: 10%;
	height: 10%;
	margin-bottom: 10px;

}
.p{
	margin: 20px;
	text-align: center;
	width: 40vw;
	font-size: 20px;
}