.rangeLabel {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 0 0 30px;

	background-color: #050505;
	width: 320px;
	height: 45px;
	border-radius: 20px;
	position: relative;
}

.rangeSpan {
	position: absolute;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 900;

	top: -28px;
	left: 25px;
}

.rangeNumber {
	position: absolute;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 900;

	top: -28px;
	right: 25px;
}

.inputRange {
	appearance: none;
	-webkit-appearance: none;
	background: rgba(45, 30, 1, 0.8);
	background-image: linear-gradient(#181818, #242424);
	background-size: 50% 100%;
	background-repeat: no-repeat;
	width: 70%;
	padding: 0;
	height: 4px;
	border-radius: 5px;
	position: relative;
}

.inputRange::-webkit-slider-thumb {
	border-radius: 50%;
	background: #050505;
	cursor: pointer;
	box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.26);
}

.inputRange::-moz-range-thumb {
	border-radius: 50%;
	background: #050505;
	cursor: pointer;
	box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.26);
}

.inputRange::-webkit-slider-runnable-track {
	background: #fff;
	height: 2px;
}

.inputRange::-moz-range-track {
	background: #fff;
	height: 2px;
}

.inputRange:focus {
	outline: none;
}
.inputRange:focus::-webkit-slider-runnable-track {
	outline: none;
}

.rangeMin,
.rangeMax {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
}
