.favoritesTitle {
	font-size: 2rem;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.cardContainer {
	border: 1px solid #cecece;
	border-radius: 10px;
	width: 280px;
	padding: 10px;
	cursor: pointer;
}

.cardContainer:hover {
	border-color: #000;
}

.imageContainer {
	width: 250px;
}

.cardImage {
	width: 100%;
}

.cardName {
	font-size: 14px;
	color: #000;
}

.cardBuy {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.cardPriceContainer {
	width: 40%;
	text-align: center;
}

.cardButton {
	display: block;
	width: 60%;
	height: 30px;
	border-radius: 5px;
	background-color: #181818;

	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.cardRemove {
	display: block;
	margin-top: 15px;
	font-size: 12px;
}

.cardRemove:hover {
	color: #000;
	text-decoration: underline;
}

.emptyFavoritesTitle {
	margin-top: 75px;
	padding-top: 75px;
	border-top: 1px solid #cecece;
}

.emptyFavoritesRecommended {
	background-color: #f7f7f7;
}
