.list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;

	width: 100%;
	margin-top: 0;

	list-style: none;
}

.listItem {
	width: 40px;
	text-align: center;
	border: 2px solid #727272;
	border-radius: 50%;
	padding: 6px;

	font-size: 1.1rem;
	color: #727272;

	font-weight: 700;
	user-select: none;
	cursor: pointer;
	transition: 0.2s;
}

.listItem:hover {
	border-color: #f0f8f0;
	color: #f0f8f0;
}

.listItemActive {
	width: 40px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 6px;

	font-size: 1.1rem;
	color: #fff;

	font-weight: 700;
	user-select: none;
	cursor: pointer;
<<<<<<< HEAD:client/src/components/SizesFilter/SizesFilter.module.css
	transition: 0.2s;
}
=======
}
>>>>>>> develop:client/src/components/Sizes/Sizes.module.css
