.cardContainer {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	background-color: rgb(244, 244, 244);
	margin: 2rem;
	gap: 1rem;
}

.cardWrapper {
	display: flex;
	justify-content: space-evenly;
}

.cardWrapper p {
	font-size: 0.8rem;
}
