.title {
}

.formContainer {
	width: 50%;
	margin: 0 auto;
}

.form {
	border: 1px solid #cecece;
	border-radius: 10px;
	padding: 10px 15px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.formTitle {
	width: 100%;
	text-align: start;
	padding: 10px 0;
}

.paymentButton {
	height: 50px;
	padding: 10px;
	margin: 15px auto;
	border-radius: 5px;
	background-color: rgb(161, 161, 161);
	color: black;
	transition: 0.2s;
}

.paymentButton:hover {
	background-color: rgb(65, 65, 65);
	color: white;
}

input {
	margin-bottom: 25px;
}
