.formContainer {
	width: 50%;
	margin: 0 auto;
}

.form {
	border: 1px solid #cecece;
	border-radius: 10px;
	padding: 10px 15px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formTitle {
	margin-bottom: 25px;
	font-size: 2rem;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}

.form section {
	width: 100%;
	max-width: 500px;
}

.formTop {
	display: flex;
	gap: 50px;
}

.stateCityContainer {
	display: flex;
	gap: 50px;
	width: 100%;
}

.selectContainer select {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #cecece;
	border-radius: 5px;
	padding-left: 20px;
	height: 50px;
}

.paymentButton {
	height: 50px;
	padding: 10px;
	margin: 15px auto;
	border-radius: 5px;
	background-color: rgb(161, 161, 161);
	color: black;
	transition: 0.2s;
}

.paymentButton:hover {
	background-color: rgb(65, 65, 65);
	color: white;
}

.paymentButton:hover:disabled {
	background-color: rgb(161, 161, 161);
	color: black;
}

input {
	margin-bottom: 25px;
	width: 100%;
}

.form label {
	font-size: 16px;
}
