.customModal,
.customModalShow {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(5, 5, 5, 0.8);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
	z-index: 100;
}

.customModalShow {
	opacity: 1;
	pointer-events: visible;
}

.modalContent {
	position: absolute;
	/* this could give us issues but is a easy way to make more estetic the dropdown behavior */
	top: 15vh;
	width: 100%;
	max-height: 85vh;
	overflow-y: auto;
	background-color: rgba(255, 255, 255);
	backdrop-filter: blur(5px);
	border-radius: 2px;
	padding-bottom: 35px;

	transition: all 0.3s ease-in-out;
}

.modal.show .modalContent {
	transform: translateY(0);
}

.modalFooter {
	padding: 10px;
	text-align: center;
}

.modalTitle {
	margin: 0;
}

.modalBody {
	padding: 10px;
}

.button,
.buttonCancel {
	background-color: #050505;
	color: #fff;
	border: none;
	border-radius: 5px;
	width: 95%;
	height: 50px;
	padding: 5px 15px;

	font-family: Poppins;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: start;
	cursor: pointer;
	transition: 0.2s;
}

.button:hover {
	color: #a5a5a5;
}

.buttonCancel {
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid #050505;
	color: #050505;
}

.buttonCancel:hover {
	color: #555;
}

@media (min-width: 768px) {
	.modalContent {
		max-width: 600px;
		top: 5vh;
		max-height: 90vh;
	}
}

@media (min-width: 1000px) {
	.modalContent {
		max-width: 650px;
	}
}
