.mt50vh {
	margin: 150px 0;
	display: flex;
	justify-content: center;
}

.section {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.card {
	width: 200px;
	text-decoration: none;
	border-radius: 10px;
	background-color: #fafafa;
	padding: 0 10px;
}

.card:hover .name {
	color: #000;
}

.imageContainer {
	width: 180px;
	border-bottom: 1px solid #313131;
}

.image {
	width: 100%;
}

.name {
	padding-top: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #313131;
	transition: 0.2s;
}
