.shoesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2rem;
}

.filters {
	padding-bottom: 20px;
	width: 90%;

	display: flex;
	justify-content: space-between;
}

.paginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
}

@media (min-width: 768px) {
	.filters {
		width: 50%;
	}
}