.shoesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
}

.filters {
	padding-bottom: 80px;
	width: 50%;

	display: flex;
	justify-content: space-between;
}
