.shoesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
}

.filters {
	padding: 0 40px 80px;
	width: 100%;

	display: flex;
	justify-content: space-evenly;
}
