.editPasswordContainer {
	padding: 12px 20px 0;
}
.editPasswordTitle {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

section {
	margin-bottom: 30px;
}

section input {
	height: 50px;
}

section input:focus {
	outline: 1px solid #222;
}

section label {
	margin-left: 5px;
	font-size: 16px;
}
