.dropdown {
	font-family: Poppins;
	max-height: 200px;
	overflow-y: auto;
}

/* STYLED SCROLLBAR FOR CHROME */
.dropdown::-webkit-scrollbar {
	width: 3px;
}

.dropdown::-webkit-scrollbar-track {
	border-radius: 100px;
}

.dropdown::-webkit-scrollbar-thumb {
	background-color: #5e5e5e;
	border-radius: 100px;
}

.dropdownContainer {
	width: 80%;
	margin: 0;
	margin-left: 25px;
}

.dropdownHeader {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding-bottom: 20px;

	font-weight: 700;
	font-size: 1.5rem;
}

.headerIcon {
	transform: rotate(-90deg);
	transition: 0.2s;
}

.headerIconRotate {
	transform: rotate(0);
	transition: 0.2s;
}

.headerP {
	font-family: Poppins;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}

.dropdownListContainer {
	display: none;
}

.dropdownListContainerDisplayed {
	display: block;
}

/* ============================================================ */
/* Old css, I dont delete it because I'll use it on other place */

/* 
.label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.radioInput,
.checkboxInput {
	-webkit-appearance: none;
	appearance: none;
	font: inherit;
	color: black;

	width: 1.15em;
	margin: 0;
	height: 1.15em;
	border: none;
	border: 0.15em solid #fff;
	border-radius: 50%;
	transform: translateY(0.2em);

	display: grid;
	place-content: center;
}

.radioInput::before,
.checkboxInput::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s;
	box-shadow: inset 1em 1em #ff8e0a;
}

.radioInput:checked::before,
.checkboxInput:checked::before {
	transform: scale(1);
}

.radioInput:focus {
	outline: 1px solid #ff8e0a;
	outline-offset: max(2px, 0.15em);
}

.checkboxInput {
	border-radius: 4px;
}
.checkboxInput::before {
	border-radius: 2px;
}
*/

/* FOR SOME UNKNOWN REASON, WHEN I SETTING A STATE USING THE INPUT ID, THIS DOESNT TURN ON "CHECKED", SO, I GO TO CREATE A CUSTOM STYLE SIMULATING THE ORIGINAL BEHAVIOR */

/* 
.checkboxInput.active::before {
	transition: 0.2s;
	transform: scale(1);
} */