.cardsContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	gap: 35px;

	padding: 0 50px;
}

.loadingText {
	font-size: 1rem;
}

.errorMessageText {
	font-size: 1rem;
}

@media (min-width: 658px) {
	.cardsContainer {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 958px) {
	.cardsContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
