.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

.cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: black 1px solid;
}

.loadingText {
    padding: 1rem;
    background-color: rgb(241, 241, 241);
    font-size: 1.5rem;
}

.errorMessageText {
    padding: 1rem;
    background-color: rgb(226, 104, 104);
    font-size: 1.5rem;
}