.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
}

.cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: black 1px solid;
}