.cartContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #cecece;
	padding: 15px;
	margin: 0 5% 100px;
}

.shipping {
	min-height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 50px;
	border-bottom: 1px solid #cecece;
}

.shippingTitle {
	width: 100px;
	text-align: end;
}

.shippingCost {
	width: 100px;
	text-align: end;
	color: #00a650;
	margin-left: 50px;
}

.totalPriceContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 100px;

	margin: 0 50px;
	border-bottom: 1px solid #cecece;
}

.price {
	width: 100px;
	text-align: end;
	margin-left: 50px;

	font-size: 24px;
	font-weight: 600;
}

.buyButtonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 100px;
	margin: 0 50px;
}

.buyButton {
	font-size: 20px;
	border-radius: 5px;
	width: 190px;
	height: 40px;
	background-color: rgb(161, 161, 161);
	color: black;
}

.buyButton:hover {
	background-color: rgb(65, 65, 65);
	color: white;
}

.buyButton:disabled {
	background-color: rgba(80, 80, 80, 0.788);
	color: black;
}

.recommended {
	margin: 0 5% 100px;
}
