.cartContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.totalPriceContainer {
	display: flex;
	justify-content: center;
}

.buyButtonContainer {
	display: flex;
	justify-content: center;
}

.buyButtonContainer > button {
	font-size: 20px;
	border-radius: 20px;
	width: 190px;
	height: 40px;
	background-color: rgb(161, 161, 161);
	color: black;
}

.buyButtonContainer > button:hover {
	background-color: rgb(65, 65, 65);
	color: white;
}

.buyButtonContainer > button:disabled {
	background-color: rgba(80, 80, 80, 0.788);
	color: black;
}
