.cartContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.totalPriceContainer {
	display: flex;
	justify-content: center;
}

.buyButtonContainer {
	display: flex;
	justify-content: center;
}

.buyButtonContainer > button {
	font-size: 20px;
	border-radius: 20px;
	width: 175px;
	height: 40px;
	background-color: green;
	color: white;
}
