.nav {
	display: flex;
	align-items: center;
	height: 100px;
	margin: 0 0 50px;
	background: #181818;

	font-family: Rubik, sans-serif;
}

.navLogo {
	display: none;
}

.logo {
	width: 80px;
	margin: 0;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
	padding: 0 40px;
	margin: 0;
	width: 100%;
	font-weight: 900;
	font-size: 22px;
}

.navCenteredElement {
	display: flex;
	justify-content: center;
}

.navLink {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: 0.2s;
	gap: 10px;
	cursor: pointer;
}

.navLink:hover {
	color: #fff;
	border-color: #fff;
}

@media (min-width: 768px) {
	.navLogo {
		display: block;
	}
}
