.loader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid rgb(5, 5, 5, 0.2);
	border-top-color: transparent;
	animation: rot1 1.2s cubic-bezier(0.5, 0.61, 0.355, 1) infinite;
}

@keyframes rot1 {
	to {
		transform: rotate(360deg);
	}
}